body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background: #004643 !important;
}

.navbar li a {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

.nav-link:focus, .nav-link:hover {
  color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
  color: #fff;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ffff;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

#header {
  background: #004643 !important;
  height: 41.6rem;
}

.right-header {
  justify-content: end;
}

@media (max-width:480px) {
  .title-header {
    margin-top: 12rem !important;
    text-align: center;
  }
  .img-header {
    display: none;
  }
  .right-header {
    justify-content: center !important;
    margin-top: 2em !important;
  }
}

footer {
  background: #004643;
}